<div class="columns" *ngIf="sessionUser === null">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div class="has-text-centered text-container">
      <div>
        <div class="has-text-weight-bold"><span class="logo-font">{{title}}</span> ist die erste Anlaufstelle zur
          Berechnung deines täglichen<p class="has-text-green">Ökologischen Fußabdrucks<span class="has-text-dark">.
          </span></p></div>
        <div>
          <br>
          Auf <span class="logo-font">{{title}}</span> kannst du in verschiedenen Kategorien deinen CO2e-Ausstoß
          überwachen und dich mit Anderen vergleichen. Dein Gesamtfußabdruck wird sowohl mit dem statistischen
          Durchschnitt, als auch mit dem Durchschnitt der <span class="logo-font">{{title}}</span> Nutzer verglichen.
          Um deinen Fußabdruck zu reduzieren, versorgen wir dich regelmäßig mit Tipps und Tricks, um im Alltag einfach
          CO2e einzusparen.
        </div>
      </div>
      <div>
        <br>
        Wenn du alle Vorteile von <span class="logo-font">{{title}}</span> nutzen möchtest, registriere dich jetzt
        vollkommen kostenlos.
      </div>
    </div>
  </div>
  <div class="column is-one-fifth"></div>
</div>

<app-profile></app-profile>

<app-mobility></app-mobility>
