<!--Anzeige von Profilinhalt-->
<div class="has-text-centered columns" *ngIf="sessionUser !== null && !router.isActive('/profile/changeProfileDetails', true)">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div class="has-text-weight-bold text-container-title">Dein Profil</div>
    <div class="text-container-content">
      <div style="height: 24px"></div>
      <table class="table is-fullwidth">
        <tbody>
        <tr>
          <td class="column-width">Username:</td>
          <td>{{profileService.completeUser.username}}</td>
        </tr>
        <tr>
          <td>Alter:</td>
          <td *ngIf="profileService.completeUser.age !== 0">{{profileService.completeUser.age}}</td>
          <td class="cursiv" *ngIf="profileService.completeUser.age === 0">Bitte Alter eintragen.</td>
        </tr>
        <tr>
          <td>Geschlecht:</td>
          <td *ngIf="profileService.completeUser.sex !== null">{{profileService.completeUser.sex}}</td>
          <td class="cursiv" *ngIf="profileService.completeUser.sex === null">Bitte Geschlecht eintragen.</td>
        </tr>
        <tr>
          <td>CO2e-Ausstoß pro Kopf*:</td>
          <td *ngIf="profileService.completeUser.average !== null && profileService.completeUser.sex !== 'D'">
            <span>{{profileService.completeUser.average.emission}} </span><span> Tonnen CO2e/Jahr</span></td>
          <td *ngIf="profileService.completeUser.average === null && profileService.completeUser.sex === 'D'"> Leider
            gibt es für deine Auswahl (D) nicht genügend Daten.
          </td>
          <td class="cursiv" *ngIf="profileService.completeUser.average === null && profileService.completeUser.sex !== 'D'"> Leider
            fehlen noch persönliche Daten. Bitte trage diese ein, um einen Durchschnittswert angezeigt zu bekommen.
          </td>
          <td>
          </td>
        </tr>
        </tbody>
      </table>

      <!--      Router is active überprüft NUR auf welcher Seite wir uns befinden-->
      <a *ngIf="router.isActive('/', true)" class="button form-button" routerLink="profile">Zum Profil</a>


      <a *ngIf="router.isActive('/profile', true)" class="button form-button dropdown-right dropdown-width" routerLink="changeProfileDetails">Profil
        bearbeiten</a>
<div>
      <a *ngIf="router.isActive('/profile', true)" class="button form-button" routerLink="">Zurück</a>
</div>


      <p class="has-text-left footnote">*in Deutschland nach Geschlecht und Alter auf DICH angepasst</p>
    </div>
  </div>
  <div class="column is-one-fifth"></div>
</div>



<!--Damit man auf ChangeProfile kommen kann-->
<router-outlet></router-outlet>
