<!--Navbar-->
<nav class="navbar is-fixed-top-desktop" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" id="logo-font" routerLink="">FOOTify</a>

    <a role="button" class="navbar-burger burger has-text-white" aria-label="menu" aria-expanded="false"
       data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu has-background-dark">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="">
        Home
      </a>
      <a class="navbar-item" *ngIf="sessionUser !== null" routerLink="/mobilityDetails">
        Mobilität
      </a>


      <a class="navbar-item" *ngIf="sessionUser !== null" routerLink="/profile">
        Profil
      </a>

      <div class="navbar-item has-dropdown is-hoverable" *ngIf="sessionUser !== null">
        <a class="navbar-link">
          Mehr
        </a>

        <div class="navbar-dropdown has-background-dark">
          <a class="navbar-item" *ngIf="sessionUser !== null" routerLink="/community">
            Community
          </a>
          <a class="navbar-item" *ngIf="sessionUser !== null" routerLink="/statistics">
            Statistiken
          </a>
          <a class="navbar-item" routerLink="contact">
            Kontakt
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item" *ngIf="sessionUser !== null"> <app-session-user></app-session-user></div>
      <div class="navbar-item">


        <div class="buttons">
          <a class="button button-style has-text-weight-bold" *ngIf="sessionUser === null" routerLink="registration">
            Registrieren
          </a>
          <a class="button button-style has-text-weight-bold" *ngIf="sessionUser === null" routerLink="login">
            Login
          </a>
          <button class="button button-style has-text-weight-bold" *ngIf="sessionUser !== null" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<!--Dummy-Container für Abstand zwischen Navbar und Inhalt-->
<div style="height: 24px"></div>

<!--Willkommensbildschirm-->

<div class="has-text-centered columns" *ngIf="sessionUser === null">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <h1 class="title text-container">
      Welcome to <span class="logo-font">{{ title }}</span>!
    </h1>
  </div>
  <div class="column is-one-fifth"></div>
</div>
<router-outlet></router-outlet>
