/*****************************************************************/
/********************** Navbar Farben ****************************/
/*****************************************************************/

.navbar {
  background-color: #363636;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active,
.navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: #292929;
  color: #B7FFA4;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #F0F7EE;
}

.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
  background-color: #292929;
}

.navbar-item, .navbar-link {
  color: #F0F7EE;
}

/*****************************************************************/
/****************** Navbar Button Styles *************************/
/*****************************************************************/

.button-style {
  background-color: #F0F7EE;
  font-weight: 700;
  font-family: 'Raleway', 'Palanquin', sans-serif;
}

.button-style:hover {
  background-color: #2E4428;
  color: #F0F7EE;
  font-weight: 700;
  font-family: 'Raleway', 'Palanquin', sans-serif;
}

/*****************************************************************/
/*********************** Logo Style ID ***************************/
/*****************************************************************/

#logo-font {
  font-family: 'Expletus Sans', cursive;
  color: #B7FFA4;
}
