<div class="has-text-centered columns" *ngIf="sessionUser !== null && router.isActive('/contact', true)">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div class="has-text-weight-bold text-container-title">Kontakt</div>
    <div class="text-container-content">
        <br>
        Du hast Fragen, Anregungen oder Kritik? <br>
        Dann wende dich gerne an: <br>
        <br>
        contact@footify.com</div>
  </div>
  <div class="column is-one-fifth"></div>
</div>
