<div class="columns" *ngIf="sessionUser !== null">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div class="has-text-centered has-text-weight-bold text-container-title">Strecke hinzufügen</div>
    <div class="text-container-content">
      <div class="form-style">
        <label>Strecke in km (z.B. 10.5):</label>
        <input [(ngModel)]="mobilityService.trip.way">
        <label>Fortbewegungsart:</label>
        <select (change)="selectChangeHandlerTransportation($event)">
          <option>Fortbewegungsart wählen</option>
          <option value="{{transportation[0]}}">{{transportation[0]}}</option>
          <option value="{{transportation[1]}}">{{transportation[1]}}</option>
          <option value="{{transportation[6]}}">{{transportation[6]}}</option>
          <option value="{{transportation[4]}}">{{transportation[4]}}</option>
          <option value="{{transportation[2]}}">{{transportation[2]}}</option>
          <option value="{{transportation[3]}}">{{transportation[3]}}</option>
          <option value="{{transportation[5]}}">{{transportation[5]}}</option>
        </select>

        <div *ngIf="mobilityService.trip.transportation === transportation[4]" class="double-dropdown">
        <select (change)="selectChangeHandlerVehicleType($event)" class="dropdown-left">
          <option value="">KfZ wählen</option>
          <option value="{{vehicleType[0]}}">{{vehicleType[0]}}</option>
          <option value="{{vehicleType[1]}}">{{vehicleType[1]}}</option>
          <option value="{{vehicleType[2]}}">{{vehicleType[2]}}</option>
          <option value="{{vehicleType[3]}}">{{vehicleType[3]}}</option>
          <option value="{{vehicleType[4]}}">{{vehicleType[4]}}</option>
        </select>

          <select (change)="selectChangeHandlerFuelType($event)" class="dropdown-right">
            <option>Kraftstoff wählen</option>
            <option value="{{fuelType[0]}}">{{fuelType[0]}}</option>
            <option value="{{fuelType[1]}}">{{fuelType[1]}}</option>
          </select>
        </div>

        <div *ngIf="mobilityService.errorMessage !== null">{{mobilityService.errorMessage}}</div>

        <button class="button form-button" (click)="addTrip()">Änderungen speichern</button>

        <a *ngIf="router.isActive('/mobilityDetails/addTrip', true)" class="button form-button" routerLink="/mobilityDetails">Zurück</a>

      </div>
    </div>
  </div>
  <div class="column is-one-fifth"></div>
</div>

