
/*****************************************************************/
/****************** Labelfarben für Tabelle **********************/
/*****************************************************************/

.colorLabelFeet{
  background-color: #ffa1b5;
  color: #ffa1b5;
}

.colorLabelBycicle{
  background-color: #86c7f3;
  color: #86c7f3;
}

.colorLabelTrain{
  background-color: #ffe29a;
  color: #ffe29a;
}

.colorLabelBus{
  background-color: #f1f2f4;
  color: #f1f2f4;
}

.colorLabelCar{
  background-color: #93d9d9;
  color: #93d9d9;
}

.colorLabelAirplane{
  background-color: #c1d6e1;
  color: #c1d6e1;
}

.colorLabelPublTransport{
  background-color: #eaeaea;
  color: #eaeaea;
}

/*****************************************************************/
/****************** Canvas Responsiveness ************************/
/*****************************************************************/

canvas{
  width: 100% !important;
  max-width: 40vm;
  height: auto !important;
}

/*****************************************************************/
/******************** Style für Tabellen *************************/
/*****************************************************************/

.table {
  background-color: inherit;
  color: #363636;
}

table {
  table-layout: auto;
  width: 100%;
}

.column-width-dummy {
  width: 5%;
}

th {
  height: 30px;
}
