/*for responsiveness of canvas*/

canvas {
  width: 100% !important;
  max-width: 40vm;
  height: auto !important;
}

.margin-chart {
  margin-left: 50px;
  margin-right: 50px;
}

.padding-chart {
  padding-top: 40px;
}
