<div class="has-text-centered columns" *ngIf="sessionUser !== null && router.isActive('/statistics', true)">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div class="has-text-weight-bold text-container-title">Statistik</div>
    <div class="text-container-content" >

      <div class="tile is-ancestor">
        <div class="tile is-vertical padding-chart">

          <div class="tile is-parent box margin-chart">
            <div class="tile is-child is-centered">
              <p class="has-text-weight-bold">Trend Gesamt CO2e-Ausstoß der Deutschen im Durchschnitt</p>
              <div class="chart-wrapper">
                <canvas baseChart
                        [datasets]="barChartDataTotalEmissionGer"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                </canvas>
              </div>
            </div>
          </div>

          <div class="tile is-parent box margin-chart">
            <div class="tile is-child is-centered">
              <p class="has-text-weight-bold">Trend Gesamt CO2e-Ausstoß aller <span class="logo-font">FOOTify</span> Nutzer</p>
              <canvas baseChart
                      [datasets]="barChartDataTotalEmissionFooify"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [plugins]="barChartPlugins"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
              </canvas>
            </div>
          </div>

          <div class="tile is-parent box margin-chart">
            <div class="tile is-child is-centered">
              <p class="has-text-weight-bold">Trend deines CO2e-Ausstoßes</p>
              <canvas baseChart
                      [datasets]="barChartDataTotalEmissionUser"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [plugins]="barChartPlugins"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
              </canvas>

            </div>
          </div>
        </div>

      </div>

      <div>
        <a *ngIf="router.isActive('/statistics', true)" class="button form-button" routerLink="">Zurück</a>
      </div>


    </div>
  </div>
  <div class="column is-one-fifth"></div>
</div>

