<div class="columns" *ngIf="sessionUser === null">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div class="has-text-weight-bold text-container-title has-text-centered">Login</div>
    <div class="text-container-content">
      <form (ngSubmit)="login()">
        <div class="form-style">
          <label>Username: </label>
          <input name="username" [(ngModel)]="securityService.loginData.username">
          <label>Passwort: </label>
          <input type="password" name="password" [(ngModel)]="securityService.loginData.password">
          <p>
            <span *ngIf="securityService.message !== null">{{securityService.message}}</span>
          </p>
          <button class="button form-button" type="submit">Anmelden</button>
        </div>
      </form>
    </div>
  </div>
  <div class="column is-one-fifth"></div>
</div>
