<!--chart-->
<div class="has-text-centered columns" *ngIf="sessionUser !== null && router.isActive('/', true)">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div class="has-text-weight-bold text-container-title">Mobilität - Gesamtübersicht</div>
    <div class="text-container-content">

      <div class="tile is-ancestor is-vertical">
          <div class="tile is-parent">
            <div class="tile is-child box">
              <table>

                <tr>
                  <th>Fortbewegungsart</th>
                  <th>Strecke</th>
                  <th>CO2e-Ausstoß</th>
                </tr>

                <tr>
                  <td><span class="colorLabelFeet">---</span> zu Fuß:</td>
                  <td>{{groupedTrips[0].way.toFixed(2)}} <span> km</span></td>
                  <td> {{(groupedTrips[0].emission / 1000).toFixed(2)}}<span> kg</span></td>
                </tr>

                <tr>
                  <td><span class="colorLabelBycicle">---</span> Fahrrad:</td>
                  <td>{{groupedTrips[1].way.toFixed(2)}} <span> km</span></td>
                  <td> {{(groupedTrips[1].emission / 1000).toFixed(2)}}<span> kg</span></td>
                </tr>

                <tr>
                  <td><span class="colorLabelPublTransport">---</span> ÖPNV:</td>
                  <td>{{groupedTrips[6].way.toFixed(2)}} <span> km</span></td>
                  <td> {{(groupedTrips[6].emission / 1000).toFixed(2)}}<span> kg</span></td>
                </tr>

                <tr>
                  <td><span class="colorLabelCar">---</span> Auto:</td>
                  <td>{{groupedTrips[4].way.toFixed(2)}} <span> km</span></td>
                  <td> {{(groupedTrips[4].emission / 1000).toFixed(2)}}<span> kg</span></td>
                </tr>

                <tr>
                  <td><span class="colorLabelTrain">---</span> Bahn:</td>
                  <td>{{groupedTrips[2].way.toFixed(2)}} <span> km</span></td>
                  <td> {{(groupedTrips[2].emission / 1000).toFixed(2)}}<span> kg</span></td>
                </tr>

                <tr>
                  <td><span class="colorLabelBus">---</span> Fernbus:</td>
                  <td>{{groupedTrips[3].way.toFixed(2)}} <span> km</span></td>
                  <td> {{(groupedTrips[3].emission / 1000).toFixed(2)}}<span> kg</span></td>
                </tr>

                <tr>
                  <td><span class="colorLabelAirplane">---</span> Flugzeug:</td>
                  <td>{{groupedTrips[5].way.toFixed(2)}} <span> km</span></td>
                  <td> {{(groupedTrips[5].emission / 1000).toFixed(2)}}<span> kg</span></td>
                </tr>
              </table>
            </div>
          </div>
          <div *ngIf="chartsloaded">
            <div class="tile">
              <div class="tile is-parent">
                <div class="tile is-child box">
                  <div class="has-text-centered">Dein verursachter CO2e-Ausstoß in %</div>
                  <div *ngIf="!chartsfilled"><br>Bitte trage zunächst Daten ein, um dein Diagramm zu sehen.</div>
                    <canvas baseChart
                            [labels]="pieChartLabels"
                            [data]="pieChartDataEmission"
                            [chartType]="pieChartType"
                            [options]="pieChartOptions"
                            [plugins]="pieChartPlugins"
                            [legend]="pieChartLegend">
                    </canvas>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="tile is-child box">
                  <div class="has-text-centered">Deine zurückgelegten Kilometer in %</div>
                  <div *ngIf="!chartsfilled"><br>Bitte trage zunächst Daten ein, um dein Diagramm zu sehen.</div>
                    <canvas baseChart
                            [labels]="pieChartLabels"
                            [data]="pieChartDataWay"
                            [chartType]="pieChartType"
                            [options]="pieChartOptions"
                            [plugins]="pieChartPlugins"
                            [legend]="pieChartLegend">
                    </canvas>
                </div>
              </div>
            </div>
          </div>
      </div>

      <a *ngIf="router.isActive('/', true)" type="button" class="button form-button"
         routerLink="mobilityDetails">Zur Mobilität</a>

    </div>
  </div>
  <div class="column is-one-fifth"></div>
</div>
<!--um auf children zu kommen-->
<router-outlet></router-outlet>
