<div class="has-text-centered columns" *ngIf="sessionUser !== null && router.isActive ('community', true)">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div class="has-text-weight-bold text-container-title">Deine <span class="logo-font">FOOTify</span> Community</div>
    <div class="text-container-content">
      <div style="height: 24px"></div>
      <div *ngIf="communityService.friendList === null">Es wurden noch keine Nutzer abonniert.</div>
      <table class="table is-striped is-fullwidth is-hoverable" *ngIf="communityService.friendList !== null">
        <thead>
        <th>Abonnierte Nutzer</th>
        <th style="width: 15%"></th>
        <th style="width: 10%"></th>
        </thead>
        <tbody>
        <tr *ngFor="let friend of communityService.friendList">
          <td class="column-width" style="width: 75%">{{friend.username}}</td>
          <td>
            <button class="button profile-button is-pulled-right"
                    (click)="getFriendsProfile(friend.username)">Zu {{friend.username}}</button>
          </td>
          <td>
            <button class="button profile-button is-pulled-right"
                    (click)="deleteFriend(sessionUser.username, friend.username)">Deabonnieren
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <a type="button" class="button form-button" routerLink="searchFriend">Nutzer abonnieren</a>

      <div>
        <a type="button" class="button form-button" routerLink="">Zurück</a>
      </div>

    </div>
  </div>
  <div class="column is-one-fifth"></div>
</div>

<router-outlet></router-outlet>


