<div class="columns" *ngIf="sessionUser === null">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">

    <div class="has-text-weight-bold text-container-title has-text-centered">Registrierung</div>
    <div class="text-container-content">
      <div class="form-style">

        <label>Username:</label>
        <input name="username" [(ngModel)]="registration.username">
        <label>Passwort:</label>
        <input type="password" name="password1" [(ngModel)]="registration.password1">
        <label>Passwort wiederholen:</label>
        <input type="password" name="password2" [(ngModel)]="registration.password2">
        <button class="button form-button" (click)="register()">Registrieren</button>
        <div class="has-text-centered text-container" *ngIf="registerMessage != null">
          <span [textContent]="registerMessage"></span>
        </div>

      </div>
    </div>

  </div>
  <div class="column is-one-fifth"></div>
</div>
