<div class="has-text-centered columns" *ngIf="sessionUser !== null && !router.isActive('/mobilityDetails/addTrip', true)">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div class="has-text-weight-bold text-container-title">Mobilität</div>
    <div class="text-container-content">

      <p class="subtitle">Deine zurückgelegten Strecken</p>

      <table class="table is-striped is-fullwidth is-hoverable" *ngIf="mobilityService.trips !== null">
        <thead>
        <tr>
          <th>Fortbewegungsart</th>
          <th>Strecke</th>
          <th>CO2e-Ausstoß</th>
          <th style="width: 18%">Strecke löschen</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let trip of mobilityService.trips">
          <td class="table-container">{{trip.transportation}}<span>:</span></td>

          <td>{{trip.way.toFixed(2)}}<span> km</span></td>

          <td>{{(trip.emission / 1000).toFixed(2)}}<span> kg</span></td> <!--in kg umrechen-->

          <td> <button class="button profile-button is-pulled-right" (click)="delete(trip.id)">löschen</button> </td>
        </tr>
        </tbody>
      </table>

      <div *ngIf="mobilityService.trips === null">Es wurden noch keine Fahrten angelegt.</div>

      <a *ngIf="router.isActive('/', true)" class="button form-button" routerLink="/mobilityDetails">Zur
        Mobilität</a>
      <a *ngIf="router.isActive('mobilityDetails', true)" class="button form-button" routerLink="addTrip">Strecke
        hinzufügen</a>

      <div>
        <a *ngIf="router.isActive('mobilityDetails', true)" class="button form-button" routerLink="">Zurück</a>
      </div>

    </div>
  </div>
  <div class="column is-one-fifth"></div>
</div>

<router-outlet></router-outlet>


