<!--Div-Container wird angezeigt, wenn es einen SessionUser und keinen Freund gibt (vor der Suche [zeitlich])-->
<div class="columns" *ngIf="sessionUser !== null && communityService.friend === null">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div class="has-text-weight-bold text-container-title has-text-centered">Nutzer abonnieren</div>
    <div class="text-container-content">
      <form (ngSubmit)="getFriend()">
        <div class="form-style">
          <label>Username:</label>
          <input type="text" name="friendName" [(ngModel)]="friendName">
          <p>
            <span *ngIf="communityService.message !== null">{{communityService.message}}</span>
            <span *ngIf="communityService.errorMessage !== null">{{communityService.errorMessage}}</span>
          </p>

          <button class="button form-button" type="submit">Suchen</button>

          <button class="button form-button" title="Disabled, please search for a Friend" disabled (click)="saveFriend()">Nutzer abonnieren</button>

          <div>
            <button class="button form-button" (click)="out()">Zurück</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="column is-one-fifth"></div>
</div>

<!--Div-Container wird angezeigt, wenn es einen SessionUser und einen Freund gibt (nach der Suche [zeitlich])-->
<div class="columns" *ngIf="sessionUser !== null && communityService.friend !== null">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div class="has-text-weight-bold text-container-title has-text-centered">Nutzer abonnieren</div>
    <div class="text-container-content">
        <div class="form-style">
            {{communityService.friend.username}}
          <p>
            <span *ngIf="communityService.message !== null">{{communityService.message}}</span>
          </p>
          <button class="button form-button" (click)="saveFriend()">Nutzer abonnieren</button>
          <div>
            <button class="button form-button" (click)="out()">Zurück</button>
          </div>
        </div>
    </div>
  </div>
  <div class="column is-one-fifth"></div>
</div>
