/* You can add global styles to this file, and also import other style files */

/*****************************************************************/
/********************* Hintergrundbild ***************************/
/*****************************************************************/

html {
  background-image: url("assets/img/green-2572132_1920.jpg");
}

/*****************************************************************/
/********************** Globale Font *****************************/
/*****************************************************************/

body {
  font-family: 'Raleway', 'Palanquin', sans-serif;
}

/*****************************************************************/
/************************ Logo Font ******************************/
/*****************************************************************/

.logo-font {
  font-family: 'Expletus Sans', cursive;
}

/*****************************************************************/
/********************* Text Container ****************************/
/*****************************************************************/

.text-container {
  background-color: #F0F7EE;
  border: 2px solid #F0F7EE;
  border-radius: 10px;
  padding: 1rem;
}

.text-container-title {
  border-radius: 10px 10px 0 0;
  background-color: #CDE4C6;
  padding: 10px 0;
  border-bottom: solid 1.5px #363636;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
}

.text-container-content {
  background-color: #F0F7EE;
  border: 2px solid #F0F7EE;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
}

/*****************************************************************/
/**************** Button Style für Textfelder ********************/
/*****************************************************************/

.form-button {
  margin-top: 1.5rem;
  font-weight: 700;
  font-family: 'Raleway', 'Palanquin', sans-serif;
  background-color: whitesmoke;
}

/*****************************************************************/
/************************ Form Style *****************************/
/*****************************************************************/

.form-style {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

label {
  float: left;
  width: 35%;
}

input {
  margin-bottom: 1em;
  padding: .2em .5em;
  background-color: whitesmoke;
  border: 1px solid #2E4428;
  border-radius: 3px;
  width: 35%;
  float: left;
}

select {
  padding: .2em .5em;
  background-color: whitesmoke;
  border: 1px solid #2E4428;
  border-radius: 3px;
  width: 35%;
}

/*****************************************************************/
/******************** Für Double-Dropdowns ***********************/
/*****************************************************************/

.double-dropdown {
  float: left;
  width: 35%;
  margin-top: 1.5em;
}

.dropdown-left {
  width: 49%;
  margin-right: 1%;
}

.dropdown-right {
  width: 49%;
  margin-left: 1%;
}

.dropdown-width {
  width: 21%;
  margin-left: 1%;
  margin-right: 1%;
}

/*****************************************************************/
/******************* Style für grünen Text ***********************/
/*****************************************************************/

.has-text-green {
  color: green;
}

/*****************************************************************/
/******************** Style für Tabellen *************************/
/*****************************************************************/

.is-striped {
  background-color: inherit;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background-color: #CDE4C6;
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
  background-color: #eaeaea;
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(even) {
  background-color: #eaeaea;
}

.profile-button {
  font-family: 'Raleway', 'Palanquin', sans-serif;
  background-color: whitesmoke;
  border-color: #292929;
  width: 100%;
}

.table td, .table th {
  padding: 0.5em 0.75em;
  vertical-align: middle;
}

/*****************************************************************/
/********************* Style für Fußnoten ************************/
/*****************************************************************/

.footnote {
  padding-top: 1rem;
  font-size: x-small;
}

/*****************************************************************/
/******************** Abstand Navbar zu Top **********************/
/*****************************************************************/

@media (max-width: 1024px) {
  .has-navbar-fixed-top {
    padding-top: 0 !important;
  }
}
