
<div class="columns" *ngIf="sessionUser !== null">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">

    <div class="text-container">

      <div class="form-style">
        <label>Username:</label>
        <p>{{profileService.completeUser.username}}</p>
        <label>Passwort:</label>
        <input type="password" [(ngModel)]="profileService.completeUser.password">
        <label>Alter:</label>
        <input [(ngModel)]="profileService.completeUser.age">
        <label>Geschlecht:</label>
        <select (change)="selectChangeHandler($event)">
          <option>Geschlecht wählen</option>
          <option value="{{sex[0]}}">{{sex[0]}}</option>
          <option value="{{sex[1]}}">{{sex[1]}}</option>
          <option value="{{sex[2]}}">{{sex[2]}}</option>
        </select>
        <button class="button form-button" (click)="setProfileSettings()">Änderungen speichern</button>

        <a *ngIf="router.isActive('/profile/changeProfileDetails', true)" class="button form-button " routerLink="/profile">Zurück</a>

      </div>
    </div>
  </div>
  <div class="column is-one-fifth"></div>
</div>
